* {
    box-sizing: border-box;
}

body {
    padding: 30px;  /*Da espacio entre el borde y el contenido de la pagina*/
}

.brand-header {
    grid-area: header;
}

.no-bullets{
    grid-area: nav;
}

.story-1 {
    grid-area: story-1;
  }
  
  .story-2 {
    grid-area: story-2;
  }
  
  .story-3 {
    grid-area: story-3;
  }
  
  .story-4 {
    grid-area: story-4;
  }
  
  .story-5 {
    grid-area: story-5;
  }
  

/* Style of titles on header */
.titles{
    font-family: Snell Roundhand, cursive; 
    font-weight: normal;
    font-size: 60px;
    text-align: center;
}

/* No bullets for the list */
.no-bullets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;           /*quita los bullets*/
    border: 3px solid black;  /*pone el border la navegacion*/
    margin: 0;                  /*Da espacio entre el borde y otro contenido*/
    padding: 30px;              /*Da espacio entre el borde y el contenido del texto*/
}

/* Style of the list */
.li-a {
    text-decoration: none;  /*Quita el underline de los links*/
    font-size: 30px;
    font-weight: bold;
    font-family: "Futura";
    color: #666;
}

.li-a:hover {
    text-decoration: underline; /*Agrega underline a los links cuando se pasa el mouse sobre ellos*/
}

.flex-container {
    display: flex;
    width: 100%;
    border: 2px solid black;
}

.page{
    display: grid;
    grid-template-areas: 
    "header header header"
    "nav nav nav"
    "story-1 story-2 story-3"
    "story-4 story-5 story-5";
}

/*Da estilo a los titulos de los articulos*/
.article-title{
    font-size: 30px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

/*Da estilo a los articulos*/
.story {
    padding: 10px;
    border-left: 3px solid black;  /*Pone el borde a la izquierda de los articulos*/
    border-bottom: 3px solid black; /*Pone el borde abajo de los articulos*/
}

.story-3, .story-5 {
    border-right: 3px solid black;
  }
  

/*Da estilo a la imagen de los articulos*/
.article-img{
    display: block;
    margin: 0 auto; /*Da espacio entre el borde y la imagen a ambos lados*/
    max-height: 250px; /*Da tamaño a la imagen*/
}


